<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--
      Set theme-color, mostly, this is to prevent the shadow that is displayed
      below the address bar in mobile chrome otherwise. It's the same blue as
      tachyon's "blue".
    -->
    <meta name="theme-color" content="#679800" />
    <title>Adwise Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<%= css.tachyons %>" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body class="sans-serif dark-gray center mw7">
    <div id="reactContainer"></div>

    <!-- Dependencies -->
    <script src="<%= scripts.react %>"></script>
    <script src="<%= scripts.reactDom %>"></script>
    <script src="<%= scripts.smoothScroll %>"></script>

    <!-- Webpack will add script tag referencing bundle.js here -->
  </body>
</html>
