.loading {
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: translateX(0.0rem);
  }
  40% {
    opacity: 0;
    transform: translateX(0.2rem);
  }
  100% {
    opacity: 1;
  }
}
